* {
  box-sizing: border-box;
}

.listItem {
  display: flex;
  flex-direction: row;
  /* align-self: flex-end; */
  /* align-self: ; */
  justify-content: space-around;
}

.numberEntry {
  justify-content: space-between;
}

#guestCounter {
  border-radius: 50%;
  padding: .5em;
}
