* {
  box-sizing: border-box;
}

.listItem {
  display: table;
  /* flex-direction: row; */
  /* align-self: flex-end; */
  /* align-self: ; */
  /* justify-content: space-around; */
}

.leftEnd {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.operatorWrapper {
  margin: auto;
  font-weight: 600;
  font-size: 16px;
  /* line-height: 1.375em; */
  color: #484848;
  text-align: center;
}

.numberEntry {
  display: table;
  width: 120px;
  /* box-shadow: var(--shadow-button-level0-box-shadow, none); */
}

.adjust {
  height: var(--size-flat-button-size-small, 32px);
  width: var(--size-flat-button-size-small, 32px);
  display: inline-block;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  position: relative;
  touch-action: manipulation;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(0, 132, 137);
  border-width: 1px;
  background: transparent;
  padding: 1px 7px 2px;
}

.minus {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}

.quant {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.plus {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

#guestCounter {
  border-radius: 50%;
  padding: .5em;
}
